<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Loue ton wilder vous propose un choix de wilders utilisants différents
            langages à louer">
        <title>{% block title %}LTW{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block header %}
        {{ render(controller('App\\Controller\\HomeController::addNavBar')) }}
    {% endblock %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {% if label == 'success' %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if label == 'error' %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
