{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="ml-4 mr-4 ml-md-5 mr-md-5 mt-lg-5 mb-lg-5">
        <h1 class="text-center mt-4 mb-4">Inscription</h1>
        <div class="w-100">
            {{ form_start(form) }}
            {{ form_row(form.email, {'attr': {'class': 'w-100 mb-3 rounded form-input-border'}}) }}
            {{ form_row(form.password.first, {'attr': {'class': 'w-100 mb-3 rounded form-input-border'}}) }}
            {{ form_row(form.password.second, {'attr': {'class': 'w-100 mb-3 rounded form-input-border'}}) }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-success mt-3" type="submit">Créer mon compte</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}